#!/bin/bash

alias gs='git status'
alias fa='assume-role $(fuzzy-assume assume)'

if ls --color >/dev/null 2>&1; then # GNU `ls`
    alias ls="ls --color=auto"
else # OS X `ls`
    alias ls="ls -G"
fi
alias ll='ls -ltrh'
alias la='ll -A'

# Ask before overwriting
alias rm='rm -i'
alias cp='cp -i'
alias mv='mv -i'

alias myip='dig +short myip.opendns.com @resolver1.opendns.com'
alias grep='grep --color=auto'
