# top-most EditorConfig file
root = true

[*]
indent_style = space
indent_size = 4
end_of_line = lf
insert_final_newline = true
charset = utf-8

[*.{js,css,html,hcl,tf,yaml,yml,json}]
indent_style = space
indent_size = 2

# Tab indentation (no size specified)
[{Makefile,*.mk}]
indent_style = tab
