#!/bin/bash

function hashmod() {
    lower=$1
    upper=$2
    str=$3
    res=$(echo $str | sum | cut -c1-5)
    res2=$(echo "$res % ($upper-$lower+1) + $lower" | bc)
    echo $res2
}

function dotimes() {
    num=$1
    shift
    RES=()
    for ((i=0; i<$num; i++)) do
        $@
        RES+="$? "
    done
    echo $RES
}

function psgrep() {
    ps -fp $(pgrep -f $1)
}

function nmaph() {
   nmap -n -sn "$1" -oG - | awk '/Up$/{print $2}'
}
