[submodule ".vim/bundle/vim-fugitive"]
	path = nvim/pack/my-plugins/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
    branch = master
[submodule ".vim/bundle/nerdtree"]
	path = nvim/pack/my-plugins/start/nerdtree
	url = https://github.com/scrooloose/nerdtree
    branch = master
[submodule ".vim/bundle/base16-vim"]
	path = nvim/pack/my-plugins/start/base16-vim
	url = https://github.com/chriskempson/base16-vim
    branch = master
[submodule ".vim/bundle/nerdtree-git-plugin"]
	path = nvim/pack/my-plugins/start/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin.git
    branch = master
[submodule ".vim/bundle/vim-grepper"]
	path = nvim/pack/my-plugins/start/vim-grepper
	url = https://github.com/mhinz/vim-grepper.git
    branch = master
[submodule ".vim/bundle/salt-vim"]
	path = nvim/pack/my-plugins/start/salt-vim
	url = https://github.com/saltstack/salt-vim.git
	branch = master
[submodule ".vim/bundle/neomake"]
	path = nvim/pack/my-plugins/start/neomake
	url = https://github.com/neomake/neomake.git
	branch = master
[submodule ".vim/bundle/Dockerfile"]
	path = nvim/pack/my-plugins/start/Dockerfile
	url = https://github.com/ekalinin/Dockerfile.vim.git
	branch = master
[submodule ".vim/bundle/vim-vagrant"]
	path = nvim/pack/my-plugins/start/vim-vagrant
	url = https://github.com/hashivim/vim-vagrant.git
	branch = master
[submodule ".vim/bundle/vim-terraform"]
	path = nvim/pack/my-plugins/start/vim-terraform
	url = https://github.com/hashivim/vim-terraform.git
	branch = master
[submodule ".vim/bundle/vim-go"]
	path = nvim/pack/my-plugins/start/vim-go
	url = https://github.com/fatih/vim-go.git
	branch = master
[submodule ".vim/bundle/vim-rhubarb"]
	path = nvim/pack/my-plugins/start/vim-rhubarb
	url = https://github.com/tpope/vim-rhubarb.git
	branch = master
[submodule ".vim/bundle/lightline.vim"]
	path = nvim/pack/my-plugins/start/lightline.vim
	url = https://github.com/itchyny/lightline.vim
	branch = master
[submodule ".vim/bundle/editorconfig-vim"]
	path = nvim/pack/my-plugins/start/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
	branch = master
[submodule "nvim/bundle/vim-shfmt"]
	path = nvim/pack/my-plugins/start/vim-shfmt
	url = https://github.com/z0mbix/vim-shfmt.git
	branch = master
[submodule "nvim/pack/my-plugins/start/python-syntax"]
	path = nvim/pack/my-plugins/start/python-syntax
	url = https://github.com/vim-python/python-syntax.git
	branch = master
