[user]
	name = Mattias-
	email = mattias@ppelgren.se
[credential]
	helper = cache --timeout=3600
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)%Creset' --abbrev-commit
[core]
	editor = vim
[color]
    branch = auto
    diff = auto
    status = auto
    ui = auto
