.vim/spell
.vim/.netrwhist
nvim/.netrwhist
nvim/black
.fonts/.uuid
.fonts/fonts.dir
.config/gh/hosts.yml
bin/vi
bin/vim
.config/git/extraconfig
.config/git/allowed_signers
Brewfile.lock.json
Brewfile.new
