[user]
    name = Mattias Appelgren
    email = mattias@ppelgren.se
    signingkey = mattias@ppelgren.se
[core]
    editor = vi
    excludesfile = ~/.gitignore_global
    attributesfile = ~/.gitattributes_global
[credential]
    helper = cache --timeout=3600
[init]
    defaultBranch = master
[diff]
    algorithm = patience
[color]
    branch = auto
    diff = auto
    status = auto
    ui = auto
[push]
    default = simple
[mergetool]
    keepBackup = false
[mergetool "nvimdiff"]
    cmd = nvim -d $LOCAL $REMOTE $MERGED
[merge]
    ff = no
    tool = nvimdiff
[rebase]
    autoSquash = true
    autoStash = true
[init]
    defaultBranch = master
[pull]
    rebase = true
[rerere]
    enabled = true
    autoupdate = true
[alias]
    lg = log --graph --pretty=format:'%C(auto)%h%d %s %Cgreen(%cr) %Cblue%an%Creset'
    lgh = log -10 --graph --pretty=format:'%C(auto)%h%d %s %Cgreen(%cr) %Cblue%an%Creset'
    assume = update-index --assume-unchanged
    unassume = update-index --no-assume-unchanged
    shw = "!f() { git show $(git rev-list HEAD --max-count=20 | grep -m1 ^$1) ${@:2}; }; f"
    grepblame = "!ggb() { git grep -n $@ | while IFS=: read i j k; do git blame -f -L $j,$j $i; done }; ggb"
[pager]
    lgh = less --QUIT-AT-EOF
