[user]
    name = Mattias Appelgren
    email = mattias@ppelgren.se
[core]
    editor = vim
    excludesfile = ~/.gitignore_global
[credential]
    helper = cache --timeout=3600
[push]
    default = simple
[diff]
    algorithm = patience
[color]
    branch = auto
    diff = auto
    status = auto
    ui = auto
[alias]
    s = status
    lg = log --graph --pretty=format:'%Cred%h%C(yellow)%d%Creset %s %Cgreen(%cr) %an %Creset'

